/* Light Theme Styles */
.home-page.light .title-light {
    color: black;
    text-align: center;
    margin-top: 20px;
}

/* Dark Theme Styles */
.home-page.dark .title-dark {
    color: white;
    text-align: center;
    margin-top: 20px;
}
